
*.pbxproj

*.xcworkspacedata

*.plist

*.xcuserstate

*.xcbkptlist

*.xcscheme
*.filters
*.opendb
*.sln
Arboles-Balanceados/.vs/Arboles-Balanceados/v14/.suo
*.vcxproj
*.db
*.tlog
Fibonacci-Iterativo-Recursivo/.vs/Fibonacci-Iterativo-Recursivo/v14/.suo
*.log
*.pdb
Fibonacci-Iterativo-Recursivo/Fibonacci-Iterativo-Recursivo/Debug/main.obj
*.exe
Fibonacci-Iterativo-Recursivo/Fibonacci-Iterativo-Recursivo/Debug/vc140.idb
*.ilk

Tarea-3-Disenio-Alg/1-Camionero/cmake-build-debug/CMakeFiles/3.7.1/CompilerIdC/CMakeCCompilerId.c

Tarea-3-Disenio-Alg/1-Camionero/cmake-build-debug/CMakeFiles/clion-environment.txt

Tarea-3-Disenio-Alg/1-Camionero/cmake-build-debug/CMakeFiles/3.7.1/CompilerIdCXX/CMakeCXXCompilerId.cpp

Tarea-3-Disenio-Alg/1-Camionero/cmake-build-debug/CMakeFiles/clion-log.txt
